* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 1;
}

input {
    position: relative;
    font-size: 14px;
}

input:focus, button:focus {
    outline: none;
}

::-ms-clear, ::-ms-reveal {
    display: none;
}

::-webkit-input-placeholder {
    color: #dedede;
    font-size: 14px;
}

:-moz-placeholder {
    color: #dedede;
    font-size: 14px;
}

::-moz-placeholder {
    color: #dedede;
    font-size: 14px;
}

:-ms-input-placeholder {
    color: #dedede;
    font-size: 14px;
}

::placeholder {
    color: #dedede;
    font-size: 14px;
}

li {
    list-style: none;
}

button {
    outline: none;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 900px;
    overflow: hidden;
}

#container > div {
    transition: all .5s linear;
}

#join {
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

body > .login {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

body > .login > button {
    width: 65px;
    background-color: #1c1b21;
    text-align: center;
    padding: 23px 0;
    color: #fefefe;
    border: none;
    cursor: pointer;
    float: right;
}

.earth {
    position: absolute;
    /*bottom: -100px;*/
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1s linear;
}

.earth > img {
    width: 100%;
    position: relative;
    top: 0;
    z-index: 100;
}

.earth > div.future {
    position: absolute;
    left: 50%;
    top: -102px;
    margin-left: -236px;
    z-index: 50;
    transition: opacity 400ms linear;
}

.join-box {
    position: absolute;
    top: -180px;
    left: 50%;
    margin-left: -242px;
    height: 34px;
    transition: all 1s linear;
    z-index: 60;
}

.join-box.login-sign {
    top: -400px;
    height: 400px;
}

.join-box.register-sign {
    top: -500px;
    height: 500px;
}

#ask_search {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: 20%;
    padding-left: 10%;
}

#ask_search h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

#ask_search > .text {
    position: relative;
    z-index: 10;
}

#ask_search p {
    font-size: 20px;
    line-height: 1.5;
}

#img_box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 625px;
    height: 617px;
    background: url("../images/phone.png") no-repeat;
}

#img_box .triangle {
    position: absolute;
    top: 102px;
    left: -22px;
}

#img_box .err {
    position: absolute;
    bottom: 138px;
    left: 15px;
}

#img_box .circle {
    position: absolute;
    bottom: 38px;
    left: 263px;
}

#pages {
    position: absolute;
    top: 50%;
    left: 24px;
    margin-top: -80px;
}
#pages li{
    color: #c2c2c2;
    padding-left: 10px;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
}
#pages li:first-child {
    background: url("../images/li_bg2.png") no-repeat;
}
#pages li:last-child{
    background: url("../images/li_bg.png") no-repeat;
}
#pages li:first-child.active {
    color: #dcdcdc;
    background: url("../images/li_bg2.png") no-repeat;
}

#pages li:last-child.active {
    background-image: url("../images/li_bg.png");
    color: #000;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 10px;
    color: #777;
    z-index: 500;
}

footer a {
    text-decoration: none;
    color: #777;
}

/*登录*/
#login {
    position: absolute;
    top: 500px;
    left: 74px;
    width: 330px;
    transition: all 1s linear;
}

#login > div {
    margin-bottom: 14px;
}

.input-ps, .input-text {
    position: relative;
}

#login > .input-ps {
    margin-bottom: 20px;
}

#login button {
    height: 46px;
    line-height: 46px;
    width: 154px;
    border: none;
    border-radius: 23px;
    -weibkit-border-radius: 23px;
    -ms-border-radius: 23px;
    -moz-border-radius: 23px;
    cursor: pointer;
    font-size: 18px;
}

.err_msg {
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    width: 100%;
    border-radius: 23px;
    -weibkit-border-radius: 23px;
    -ms-border-radius: 23px;
    -moz-border-radius: 23px;
    background-color: #F7D4C7;
    color: red;
    margin-bottom: 14px;
}

.err_msg img {
    vertical-align: middle;
    border: none;
    position: relative;
    margin-right: 10px;
    margin-left: 18px;
}

.input-text > span {
    position: absolute;
    top: 16px;
    right: 18px;
    width: 16px;
    height: 14px;
    background: url("../images/email.png") no-repeat;
}

.input-ps > span {
    position: absolute;
    top: 16px;
    right: 18px;
    width: 13px;
    height: 13px;
    background: url("../images/password.png") no-repeat;
}

input[type='text'], input[type='password'] {
    color: #28a7fd;
    padding: 0 23px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    width: 100%;
    *width: 100%;
    border: 1px solid #28a7fd;
    border-radius: 23px;
    -weibkit-border-radius: 23px;
    -ms-border-radius: 23px;
    -moz-border-radius: 23px;
}

input[type='text']:focus, input[type='password']:focus {
    border: 1px solid #28a7fd;
    border-radius: 23px;
    -weibkit-border-radius: 23px;
    -ms-border-radius: 23px;
    -moz-border-radius: 23px;
}

#username:focus + span {
    background: url('../images/email_blue.png') no-repeat;
}

#password:focus + span {
    background: url('../images/password_blue.png') no-repeat;
}

#login > .remember-box {
    position: relative;
    margin-bottom: 24px;
    font-size: 14px;
    color: #fff;
}

.remember-box > a {
    color: #fff;
    float: right;
}

.remember-box > span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    top: 2px;
    width: 13px;
    height: 13px;
    margin-right: 8px;
    background: url("../images/remember.png") no-repeat;
}

.remember-box > .remember-sure {
    background-image: url("../images/remember_check.png");
}

#remember {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.login {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ffe9a5, endColorstr=#ffd553);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe9a5), to(#ffd553));
    background: -webkit-linear-gradient(left, #ffe9a5, #ffd553);
    background: -moz-linear-gradient(left, #ffe9a5, #ffd553);
    background: -o-linear-gradient(left, #ffe9a5, #ffd553);
    background: -ms-linear-gradient(left, #ffe9a5, #ffd553);
    background: linear-gradient(left, #ffe9a5, #ffd553);
    color: #28a7fd;
}

#login .register {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#6cc5fb, endColorstr=#28a7fd);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#6cc5fb), to(#28a7fd));
    background: -webkit-linear-gradient(left, #6cc5fb, #28a7fd);
    background: -moz-linear-gradient(left, #6cc5fb, #28a7fd);
    background: -o-linear-gradient(left, #6cc5fb, #28a7fd);
    background: -ms-linear-gradient(left, #6cc5fb, #28a7fd);
    background: linear-gradient(left, #6cc5fb, #28a7fd);
    color: #fff;
    float: right;
}

/*注册*/
#register {
    position: absolute;
    top: 500px;
    left: 74px;
    width: 330px;
    transition: all 1s linear;
}

#register > div {
    margin-bottom: 12px;
    position: relative;
}

.tip {
    position: absolute;
    top: -13px;
    left: -163px;
    display: table;
    display: none;
}

.tip:after {
    content: "";
    position: absolute;
    top: 29px;
    right: -17px;
    border: 7px solid transparent;
    border-left: 10px solid #fff;
}

.tip > div {
    display: table-cell;
    vertical-align: middle;
    width: 145px;
    height: 74px;
    border-radius: 5px;
    padding: 0 18px 0 14px;
    background-color: #fff;
    color: #555;
}

.tip + b {
    position: absolute;
    top: 13px;
    right: -35px;
    width: 19px;
    height: 19px;
    display: none;
}

.success {
    background: url("../images/success.png") no-repeat;
}

.fail {
    background: url("../images/fail.png") no-repeat;
}

.input-ps, .input-text {
    position: relative;
}

#user_email + span {
    position: absolute;
    top: 16px;
    right: 18px;
    width: 16px;
    height: 14px;
    background: url("../images/email.png") no-repeat;
}

#nickname + span {
    position: absolute;
    top: 16px;
    right: 18px;
    width: 13px;
    height: 14px;
    background: url("../images/user.png") no-repeat;
}

.input-ps > span {
    position: absolute;
    top: 16px;
    right: 18px;
    width: 13px;
    height: 13px;
    background: url("../images/password.png") no-repeat;
}

#nickname:focus + span {
    background: url('../images/user_blue.png') no-repeat;
}

#user_email:focus + span {
    background: url('../images/email_blue.png') no-repeat;
}

.input-ps > input[type='password']:focus + span {
    background: url('../images/password_blue.png') no-repeat;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    filter: alpha(opacity=0);
}

input:focus:-moz-placeholder {
    opacity: 0;
    filter: alpha(opacity=0);
}

input:focus::-moz-placeholder {
    opacity: 0;
    filter: alpha(opacity=0);
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    filter: alpha(opacity=0);
}

input:focus::placeholder {
    opacity: 0;
    filter: alpha(opacity=0);
}

#code {
    width: 166px;
}

#code + div {
    border-radius: 23px;
    -weibkit-border-radius: 23px;
    -ms-border-radius: 23px;
    -moz-border-radius: 23px;
    float: right;
    width: 135px;
    height: 46px;
    line-height: 46px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}

#code + div > img {
    position: relative;
    top: -2px;
    left: -2px;
    height: 50px;
    width: 139px;
}

#register a {
    color: #fff;
    float: right;
    cursor: pointer;
}

#register .register {
    width: 100%;
    border-radius: 23px;
    -weibkit-border-radius: 23px;
    -ms-border-radius: 23px;
    -moz-border-radius: 23px;
    border: none;
    height: 46px;
    line-height: 46px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#6cc5fb, endColorstr=#28a7fd);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#6cc5fb), to(#28a7fd));
    background: -webkit-linear-gradient(left, #6cc5fb, #28a7fd);
    background: -moz-linear-gradient(left, #6cc5fb, #28a7fd);
    background: -o-linear-gradient(left, #6cc5fb, #28a7fd);
    background: -ms-linear-gradient(left, #6cc5fb, #28a7fd);
    background: linear-gradient(left, #6cc5fb, #28a7fd);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}