* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 1;
}

button {
    outline: none;
}

html {
    /* width: 100%; */
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 62.5%;
    /* background-color: #1fa8ff; */
    color: #363636;
}

body {
    font-size: 1.4rem;
}

header {
    /* width: 100%; */
    background-color: #1fa8ff;
    height: 60px;
}

section {
    width: 100%;
    min-width: 1200px;
}

header .logo {
    width: 103px;
}

.logo img {
    width: 100%;
}

header .hd {
    margin: 0 auto;
    height: inherit;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #1fa8ff;
}

#banner {
    overflow-x: hidden;
    height: 680px;
    position: relative;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#1E3FDE, endColorstr=#07C4F2);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1E3FDE), to(#07C4F2));
    background: -webkit-linear-gradient(left, #1E3FDE, #07C4F2);
    background: -moz-linear-gradient(left, #1E3FDE, #07C4F2);
    background: -o-linear-gradient(left, #1E3FDE, #07C4F2);
    background: -ms-linear-gradient(left, #1E3FDE, #07C4F2);
    background: linear-gradient(left, #1E3FDE, #07C4F2);
}

.banner-content {
    width: 1200px;
    height: 680px;
    padding-top: 1px;
    margin: 0 auto;
    color: #ffffff;
    position: relative;
    letter-spacing: 2px
}

.banner-content > .banner-img {
    position: absolute;
    bottom: 0;
    right: -75px;
    width: 1000px;
}
.banner-content > .banner-bg {
    position: absolute;
    top:0;
    left:-322px;
}
.banner-content h1 {
    position: relative;
    font-size: 70px;
    margin-top: 147px;
    z-index: 10;
}

.banner-content h3 {
    font-size: 30px;
    margin-top: 62px;
}

.banner-content p {
    margin-top: 24px;
    font-size: 2rem;
}

.banner-content button {
    position: relative;
    width: 165px;
    height: 55px;
    margin-top: 63px;
    color: #1883f6;
    font-size: 2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    padding-right: 25px;
    letter-spacing: 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ffe9a5, endColorstr=#ffd553);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe9a5), to(#ffd553));
    background: -webkit-linear-gradient(left, #ffe9a5, #ffd553);
    background: -moz-linear-gradient(left, #ffe9a5, #ffd553);
    background: -o-linear-gradient(left, #ffe9a5, #ffd553);
    background: -ms-linear-gradient(left, #ffe9a5, #ffd553);
    background: linear-gradient(left, #ffe9a5, #ffd553);
}

.banner-content button i {
    position: absolute;
    top: 12px;
    right: 0;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background: url("../images/index/right.png") no-repeat;
}

/*.wenwensou {*/
/*background-color: #fff;*/
/*height: 658px;*/
/*padding-top: 104px;*/
/*width: 100%;*/
/*}*/
#chat{
    background-color: #fff;
    height: 664px;
    padding-top: 45px;
}
#chat>div{
    width: 1100px;
    margin: 0 auto;
}
#chat>div:after,#ad>div:after{
    content: '';
    display: block;
    clear: both;
}
#chat>div>div,#ad>div>div{
    float: left;
}
#chat .demo_box{
    margin-right: 30px;
}
#ad{
    background-color: #eef6fc;
    height: 660px;
    padding-top: 47px;
}
#ad>div{
    width: 1172px;
    margin: 0 auto;
}
#ad .demo_box{
    margin-left: 120px;
}
.wenwensou-description {
    text-align: left;
    padding-top: 94px;
    color: #363636;
    width: 405px;
}

.wenwensou-description h3 {
    font-size: 27px;
    color: #28a7fd;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    line-height: 1.3;
}

.wenwensou-description p {
    padding-left: 22px;
    background: url("../images/index/sign_bg.png") no-repeat 0 10px;
    color: #6c6c6c;
    font-size: 19px;
    line-height: 1.7;
}

/*.ad > .wenwensou-description {*/
/*width: 618px;*/
/*margin-left: 0;*/
/*padding-top: 0;*/
/*}*/

.login-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrap a {
    padding: 0 13px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.login-wrap i {
    font-style: normal;
    padding-bottom: 1px;
}

#content {
    margin-top: 180px;
}

.description {
    width: 1200px;
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.card {
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 13.5rem;
    transition: all .5s;
}

.card:hover {
    transform: translate(0, -10px);
}

.card img {
    height: 76px;
}

.card h3 {
    font-size: 2rem;
    color: #29b1fc;
    margin-top: 2.8rem;
}

.card p {
    font-size: 1.6rem;
    color: #b7b7b7;
    margin-top: 2.4rem;
    line-height: 1.5;
}

.broadcast {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-top: 107px;
}

.broadcast .line {
    width: 20px;
    margin: 25px auto;
    border-bottom: 2px solid #8dd3fc;
}

.broadcast h2 {
    font-size: 4.2rem;
    color: #000;
}

.broadcast p {
    margin-top: 25px;
    font-size: 3rem;
    color: #999999;
}

.func-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.func-card .card {
    margin: 0 40px;
    width: 270px;
    height: 340px;
    box-shadow: 0 0 30px 3px #e8f2f9;
}

.func-card img {
    height: 77px;
    width: auto;
}

.func-card h3 {
    margin-top: 32px;
    font-size: 2rem;
}

.func-card p {
    font-size: 1.6rem;
    margin-top: 33px;
}

#account {
    background-color: #1a59e2;
    height: 700px;
    padding-top: 63px;
}

#account > div {
    width: 1170px;
    margin: 0 auto;
    color: #fff;
    letter-spacing: 3px
}

#account > div > img {
    float: left;
    margin-right: 125px;
}

.account-content {
    padding-top: 112px;
}

.account-content > h2 {
    font-size: 42px;
    margin-bottom: 54px;
}

.account-content > p {
    font-size: 28px;
    margin-bottom: 22px;
}

footer {
    width: 100%;
    margin-top: 118px;
    height: 70px;
    background-color: #eef6fc;
    padding: 27px 0;
    text-align: center;
    font-size: 16px;
}

footer a {
    color: #A6A6A6;
    text-decoration: none;
    /* font-family: "PingFangSC-Thin", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; */
}