<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="net.monkeystudio.chatrbtw.mapper.AdMapper">
    <resultMap id="baseResultMap" type="net.monkeystudio.chatrbtw.entity.Ad">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="ad_type" property="adType" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="text_content" property="textContent" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
        <result column="push_type" property="pushType" jdbcType="INTEGER" />
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
        <result column="ad_recommend_statement" property="adRecommendStatement" jdbcType="VARCHAR" />
        <result column="income" property="income" jdbcType="FLOAT" />
        <result column="alias" property="alias" jdbcType="VARCHAR" />
        <result column="push_time" property="pushTime" jdbcType="TIMESTAMP" />
        <result column="pre_push_time" property="prePushTime" jdbcType="TIMESTAMP" />
        <result column="is_open" property="isOpen" jdbcType="INTEGER" />
        <result column="close_time" property="closeTime" jdbcType="TIMESTAMP" />
        <result column="cover_pic" property="coverPic" jdbcType="VARCHAR" />
        <result column="click_amount" property="clickAmount" jdbcType="INTEGER" />
        <result column="portal_title" property="portalTitle" jdbcType="VARCHAR" />
        <result column="portal_content" property="portalContent" jdbcType="VARCHAR" />
        <result column="push_strategy_type" property="pushStrategyType" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, ad_type, title, description, text_content, url, pic_url, push_type, create_at,ad_recommend_statement,income,alias,push_time,pre_push_time,is_open,close_time,cover_pic,click_amount,portal_title,portal_content,push_strategy_type
    </sql>

    <select id="selectById" resultMap="baseResultMap">
        select
            <include refid="Base_Column_List"></include>
        from
            e_ad
        where
            id = #{id}
    </select>

    <select id="selectNewestByType" resultMap="baseResultMap" parameterType="map">
        select
            <include refid="Base_Column_List"></include>
        from
            e_ad
        where
            push_type = #{pushType}
        and
            ad_type = #{adType}
        order BY
            create_at desc
        limit 1
    </select>
    
    <select id="selectByPage" resultMap="baseResultMap" parameterType="map">
        select
            <include refid="Base_Column_List"></include>
        from
            e_ad
        order BY
            id desc
        limit
            #{startIndex},#{pageSize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select
            count(id)
        from
            e_ad
    </select>

    <update id="update" >
        update e_ad
            set
                ad_type = #{adType,jdbcType=VARCHAR},
                title = #{title,jdbcType=VARCHAR},
                description = #{description,jdbcType=VARCHAR},
                text_content = #{textContent,jdbcType=VARCHAR},
                url = #{url,jdbcType=VARCHAR},
                pic_url = #{picUrl,jdbcType=VARCHAR},
                push_type = #{pushType,jdbcType=INTEGER},
                create_at = #{createAt,jdbcType=TIMESTAMP},
                ad_recommend_statement = #{adRecommendStatement,jdbcType=VARCHAR},
                alias = #{alias,jdbcType=VARCHAR},
                push_time = #{pushTime},
                pre_push_time = #{prePushTime},
                is_open = #{isOpen},
                close_time = #{closeTime},
                cover_pic = #{coverPic},
                click_amount = #{clickAmount},
                portal_title = #{portalTitle},
                portal_content = #{portalContent},
                push_strategy_type = #{pushStrategyType}
        where
            id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="net.monkeystudio.chatrbtw.entity.Ad">
        update e_ad
        <set>
            <if test="adType != null">
                ad_type = #{adType},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="textContent != null">
                text_content = #{textContent},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="picUrl != null">
                pic_url = #{picUrl},
            </if>
            <if test="pushType != null">
                push_type = #{pushType},
            </if>
            <if test="createAt != null">
                create_at = #{createAt},
            </if>
            <if test="adRecommendStatement != null">
                ad_recommend_statement = #{adRecommendStatement},
            </if>
            <if test="income != null">
                income = #{income},
            </if>
            <if test="alias != null">
                alias = #{alias},
            </if>
            <if test="pushTime != null">
                push_time = #{pushTime},
            </if>
            <if test="prePushTime != null">
                pre_push_time = #{prePushTime},
            </if>
            <if test="isOpen != null">
                is_open = #{isOpen},
            </if>
            <if test="closeTime != null">
                close_time = #{closeTime},
            </if>
            <if test="coverPic != null">
                cover_pic = #{coverPic},
            </if>
            <if test="clickAmount != null">
                click_amount = #{clickAmount},
            </if>
            <if test="portalTitle != null">
                portal_title = #{portalTitle},
            </if>
            <if test="portalContent != null">
                portal_content = #{portalContent},
            </if>
            <if test="pushStrategyType != null">
                push_strategy_type = #{pushStrategyType},
            </if>


        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.Ad">
        insert e_ad( ad_type, title, description, text_content, url, pic_url, push_type, create_at,ad_recommend_statement,income,alias,push_time,pre_push_time,is_open,close_time,cover_pic,click_amount,portal_title,portal_content,push_strategy_type)
        values(
          #{adType,jdbcType=VARCHAR},
          #{title,jdbcType=VARCHAR},
          #{description,jdbcType=VARCHAR},
          #{textContent,jdbcType=VARCHAR},
          #{url,jdbcType=VARCHAR},
          #{picUrl,jdbcType=VARCHAR},
          #{pushType,jdbcType=INTEGER},
          #{createAt,jdbcType=TIMESTAMP},
          #{adRecommendStatement,jdbcType=VARCHAR},
          #{income,jdbcType=FLOAT},
          #{alias,jdbcType=VARCHAR},
          #{pushTime},
          #{prePushTime},
          #{isOpen},
          #{closeTime},
          #{coverPic},
          #{clickAmount},
          #{portalTitle},
          #{portalContent},
          #{pushStrategyType}
          )
    </insert>


    <delete id="detete" parameterType="map">
        delete from e_ad where id = #{id}
    </delete>

    <select id="selectAll" resultMap="baseResultMap">
        select <include refid="Base_Column_List"/> FROM  e_ad
    </select>


</mapper>
