<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.monkeystudio.chatrbtw.mapper.ChatPetPersonalMissionMapper" >
  <resultMap id="BaseResultMap" type="net.monkeystudio.chatrbtw.entity.ChatPetPersonalMission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mission_code" property="missionCode" jdbcType="INTEGER" />
    <result column="ad_id" property="adId" jdbcType="INTEGER" />
    <result column="chat_pet_id" property="chatPetId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="invitee_wx_fan_id" property="inviteeWxFanId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mission_code, ad_id, chat_pet_id, create_time,
    state, finish_time,invitee_wx_fan_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from e_chat_pet_personal_mission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from e_chat_pet_personal_mission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.ChatPetPersonalMission" >
    insert into e_chat_pet_personal_mission (id, mission_code,
      ad_id, chat_pet_id,
      create_time, state, finish_time,invitee_wx_fan_id
      )
    values (#{id,jdbcType=INTEGER}, #{missionCode,jdbcType=INTEGER},
      #{adId,jdbcType=INTEGER},#{chatPetId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{finishTime,jdbcType=TIMESTAMP},#{inviteeWxFanId}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.monkeystudio.chatrbtw.entity.ChatPetPersonalMission" >
    update e_chat_pet_personal_mission
    <set >
      <if test="missionCode != null" >
        mission_code = #{missionCode,jdbcType=INTEGER},
      </if>
      <if test="adId != null" >
        ad_id = #{adId,jdbcType=INTEGER},
      </if>
      <if test="chatPetId != null" >
        chat_pet_id = #{chatPetId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="net.monkeystudio.chatrbtw.entity.ChatPetPersonalMission" >
    update e_chat_pet_personal_mission
    set mission_code = #{missionCode,jdbcType=INTEGER},
      ad_id = #{adId,jdbcType=INTEGER},
      chat_pet_id = #{chatPetId},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      invitee_wx_fan_id = #{inviteeWxFanId}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectListByParam" parameterType="net.monkeystudio.chatrbtw.entity.ChatPetPersonalMission" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from e_chat_pet_personal_mission
    <where>
      <if test="chatPetId != null">
        and chat_pet_id = #{chatPetId}
      </if>
      <if test="missionCode != null">
        and mission_code = #{missionCode}
      </if>
      <if test="state != null">
        and state = #{state}
      </if>
      <if test="createTime != null">
        and create_time &gt;= #{createTime}
      </if>
      <if test="adId != null">
        AND ad_id = #{adId}
      </if>
    </where>
  </select>

  <select id="selectByParam" parameterType="net.monkeystudio.chatrbtw.entity.ChatPetPersonalMission" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from e_chat_pet_personal_mission
    <where>
      <if test="chatPetId != null">
        and chat_pet_id = #{chatPetId}
      </if>
      <if test="missionCode != null">
        and mission_code = #{missionCode}
      </if>
      <if test="state != null">
        and state = #{state}
      </if>
      <if test="createTime != null">
        and create_time &gt;= #{createTime}
      </if>
      <if test="adId != null">
        and ad_id = #{adId}
      </if>
    </where>
  </select>

  <select id="countByChatPetIdAndAdId" resultType="java.lang.Integer">
    SELECT  count(id) FROM e_chat_pet_personal_mission WHERE  ad_id = #{adId} AND chat_pet_id = #{chatPetId}
  </select>

  <select id="countDispatchMissionAmountByMissionCode" resultType="java.lang.Integer">
    SELECT count(id) FROM e_chat_pet_personal_mission
    WHERE
    chat_pet_id = #{chatPetId} AND create_time &gt;= #{createTime} AND  mission_code = #{missionCode}
  </select>
</mapper>