<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="net.monkeystudio.chatrbtw.mapper.ChatPetTypeConfigMapper">
    <resultMap id="baseResultMap" type="net.monkeystudio.chatrbtw.entity.ChatPetTypeConfig">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="chat_pet_type" property="chatPetType" jdbcType="INTEGER" />
        <result column="news_cover_url" property="newsCoverUrl" jdbcType="VARCHAR" />
        <result column="news_title" property="newsTitle" jdbcType="INTEGER" />
        <result column="news_description" property="newsDescription" jdbcType="VARCHAR" />
        <result column="founder_name" property="founderName" jdbcType="VARCHAR" />
        <result column="coin_name" property="coinName" jdbcType="VARCHAR" />
        <result column="coin" property="coin" jdbcType="REAL" />
        <result column="reward_type" property="rewardType" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, chat_pet_type, news_cover_url, news_title, news_description, founder_name ,coin_name ,coin, reward_type
    </sql>

    <select id="selectByChatPetTypeId" resultMap="baseResultMap" parameterType="map">
        select
            <include refid="Base_Column_List"/>
        from
            e_chat_pet_type_config
        where
            chat_pet_type = #{chatPetType}
    </select>
    


    <update id="increaseCoin" parameterType="map">
        update
            e_chat_pet_type_config
        set coin = IFNULL(coin,0) + #{coin}
        where
            chat_pet_type = #{chatPetTypeId}
    </update>


</mapper>
