<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.monkeystudio.chatrbtw.mapper.ChatPetRewardItemMapper" >
  <resultMap id="BaseResultMap" type="net.monkeystudio.chatrbtw.entity.ChatPetRewardItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gold_value" property="goldValue" jdbcType="REAL" />
    <result column="experience" property="experience" jdbcType="REAL" />
    <result column="reward_state" property="rewardState" jdbcType="INTEGER" />
    <result column="mission_item_id" property="missionItemId" jdbcType="INTEGER" />
    <result column="chat_pet_id" property="chatPetId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gold_value, reward_state, mission_item_id, chat_pet_id,experience,create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from e_chat_pet_reward_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from e_chat_pet_reward_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.ChatPetRewardItem" >
    insert into e_chat_pet_reward_item (id, gold_value, reward_state, 
      mission_item_id, chat_pet_id,experience,create_time)
    values (#{id,jdbcType=INTEGER}, IFNULL(#{goldValue},0) , #{rewardState,jdbcType=INTEGER},
      #{missionItemId,jdbcType=INTEGER}, #{chatPetId,jdbcType=INTEGER} ,IFNULL(#{experience},0) ,#{createTime})

  </insert>

  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">

    insert into e_chat_pet_reward_item (gold_value, reward_state, mission_item_id, chat_pet_id,experience)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.goldValue},#{item.rewardState},#{item.missionItemId},#{item.chatPetId},#{item.experience})
    </foreach>
  </insert>

  <select id="selectByParam" parameterType="net.monkeystudio.chatrbtw.entity.ChatPetRewardItem" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from e_chat_pet_reward_item
    <where>
      <if test="chatPetId != null">
        and chat_pet_id = #{chatPetId}
      </if>
      <if test="missionItemId != null">
        and mission_item_id = #{missionItemId}
      </if>
      <if test="rewardState != null">
        and reward_state = #{rewardState}
      </if>
      <if test="createTime != null">
        and create_time &gt;= #{createTime}
      </if>
    </where>
  </select>

    <update id="updateByPrimaryKey" parameterType="net.monkeystudio.chatrbtw.entity.ChatPetRewardItem" >
        update e_chat_pet_reward_item
        set gold_value = #{goldValue},reward_state = #{rewardState},mission_item_id = #{missionItemId} ,
        chat_pet_id = #{chatPetId} , experience = #{experience} , create_time = #{createTime}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>