<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="net.monkeystudio.chatrbtw.mapper.ChatPetMapper">
    <resultMap id="baseResultMap" type="net.monkeystudio.chatrbtw.entity.ChatPet">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="wx_pub_origin_id" property="wxPubOriginId" jdbcType="VARCHAR" />
        <result column="wx_fan_open_id" property="wxFanOpenId" jdbcType="VARCHAR" />
        <result column="temp_appearance" property="tempAppearence" jdbcType="INTEGER" />
        <result column="ethnic_groups_id" property="ethnicGroupsId" jdbcType="VARCHAR" />
        <result column="second_ethnic_groups_id" property="secondEthnicGroupsId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="experience" property="experience" jdbcType="REAL" />
        <result column="coin" property="coin" jdbcType="REAL" />
        <result column="appearance_code" property="appearanceCode" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, wx_pub_origin_id ,wx_fan_open_id ,temp_appearance ,ethnic_groups_id ,second_ethnic_groups_id ,create_time,parent_id,experience,coin,appearance_code
    </sql>

    <select id="select" parameterType="map">
        select
            <include refid="Base_Column_List"></include>
        from
            e_chat_pet
        where
            wx_pub_origin_id = #{wxPubOriginId} and `wx_fan_open_id` = #{wxFanOpenId}
    </select>


    <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.ChatPet" keyProperty="id" useGeneratedKeys="true">
        insert into
            e_chat_pet
                (wx_pub_origin_id, wx_fan_open_id ,temp_appearance ,ethnic_groups_id ,second_ethnic_groups_id ,create_time,parent_id ,appearance_code )
        values (#{wxPubOriginId} , #{wxFanOpenId}  , #{tempAppearence} , #{ethnicGroupsId} ,#{secondEthnicGroupsId} ,#{createTime} ,#{parentId},#{appearanceCode})
    </insert>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="baseResultMap" >
        select
            <include refid="Base_Column_List"></include>
        from
            e_chat_pet
        where
            `id` = #{id}
    </select>

    <select id="selectByParam"  resultMap="baseResultMap">
        select <include refid="Base_Column_List"/> FROM  e_chat_pet
        <where>
            <if test="wxPubOriginId != null">
                and wx_pub_origin_id = #{wxPubOriginId}
            </if>
            <if test="wxFanOpenId != null">
                and wx_fan_open_id = #{wxFanOpenId}
            </if>
        </where>
        limit 1
    </select>
    
    <update id="increaseExperience" parameterType="map">
        update
            e_chat_pet
            set experience = experience + #{augend}
        where
            id = #{id}
    </update>

    <select id="selectListByExperience" parameterType="map" resultMap="baseResultMap">
        select
            <include refid="Base_Column_List"></include>
        from
            e_chat_pet
        where
            second_ethnic_groups_id = #{secondEthnicGroupsId}
        order by
            experience
        desc
        limit #{startIndex},#{pageSize}

    </select>

    <update id="increaseCoin" parameterType="map">
        update
        e_chat_pet
        set coin = IFNULL(coin,0) + #{rewardCoin}
        where
        id = #{id}
    </update>

    <select id="countSecondEthnicGroupsById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
          select
            count(id)
        from
            e_chat_pet
        where
            second_ethnic_groups_id = #{secondEthnicGroupsId}
    </select>

    <select id="countByAppearceCode" parameterType="map" resultType="java.lang.Integer">
        select
            count(id)
        from
            e_chat_pet
        where
            appearance_code = #{appearenceCode}
        and
            chat_pet_type = #{chatPetType};
    </select>
    
    <select id="selectExperienceRankList" resultMap="baseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM e_chat_pet WHERE id = #{chatPetId}
        OR parent_id = #{chatPetId}
        ORDER BY experience DESC
        limit #{startIndex},#{pageSize}
    </select>

    <select id="countExperienceRankList" resultType="java.lang.Integer">
        SELECT count(id) FROM  e_chat_pet WHERE id = #{chatPetId} OR parent_id = #{chatPetId}
    </select>


    <update id="decreaseCoin" parameterType="map">
        update
            e_chat_pet
        set coin = IFNULL(coin,0) - #{coin}
        where
        id = #{chatPetId}
    </update>
</mapper>
