<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.monkeystudio.chatrbtw.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="net.monkeystudio.chatrbtw.entity.City" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pro_code" property="proCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, pro_code
  </sql>
  <sql id="Base_Where">
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="code != null">
        code = #{code}
      </if>
      <if test="name != null">
        name = #{name}
      </if>
      <if test="pro_code != null">
        pro_code = #{proCode}
      </if>
    </where>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from e_city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from e_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.City" >
    insert into e_city (id, code, name, 
      pro_code)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{proCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.monkeystudio.chatrbtw.entity.City" >
    insert into e_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="proCode != null" >
        pro_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="proCode != null" >
        #{proCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.monkeystudio.chatrbtw.entity.City" >
    update e_city
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="proCode != null" >
        pro_code = #{proCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.monkeystudio.chatrbtw.entity.City" >
    update e_city
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pro_code = #{proCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from e_city
  </select>

  <select id="selectByParamMap" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> FROM  e_city
    <include refid="Base_Where"/>
  </select>
  
  <select id="selectByName" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM  e_city WHERE name = #{name}
  </select>
</mapper>