<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.monkeystudio.chatrbtw.mapper.CryptoKittiesMapper">
  <resultMap id="baseResultMap" type="net.monkeystudio.chatrbtw.entity.CryptoKitties">
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="wx_pub_origin_id" property="wxPubOriginId" jdbcType="VARCHAR" />
    <result column="wx_fan_open_id" property="wxFanOpenId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, url, create_time, wx_fan_open_id, wx_pub_origin_id
  </sql>

  <update id="updateMinItem" parameterType="map" >
      update
          e_crypto_kitties set wx_pub_origin_id = #{wxPubOriginId} ,wx_fan_open_id = #{wxFanOpenId}
       where wx_fan_open_id is  null
       order by create_time asc limit 1;
  </update>

  <select id="selectByWxFan" resultMap="baseResultMap" parameterType="map">
    select
      <include refid="Base_Column_List"></include>
    from
        e_crypto_kitties
    where
      wx_pub_origin_id = #{wxPubOriginId} and wx_fan_open_id = #{wxFanOpenId}
  </select>

    <select id="selectAllUrl" resultType="java.lang.String">
        select url  from e_crypto_kitties limit #{startIndex},#{pageSize}
    </select>

    <select id="selectAll" resultType="java.lang.String">
        select url from  e_crypto_kitties
    </select>


</mapper>
