<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.monkeystudio.chatrbtw.mapper.DividendDetailRecordMapper">
    <resultMap id="baseResultMap" type="net.monkeystudio.chatrbtw.entity.DividendDetailRecord">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="chat_pet_id" property="chatPetId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="dividend_id" property="dividendId" jdbcType="INTEGER" />
        <result column="money" property="money" jdbcType="REAL" />
    </resultMap>
    <sql id="Base_Column_List" >
        `id`, `chat_pet_id`, `create_time`, `dividend_id` , `money`
    </sql>

    <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.DividendDetailRecord">
        insert into e_dividend_detail_record ( `chat_pet_id`, `create_time`, `dividend_id` , `money`)
            values
                (#{chatPetId}, #{createTime}, #{dividendId}, #{money})
    </insert>

    <select id="selectDetailRecordByChatPetId" resultMap="baseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM e_dividend_detail_record
        where chat_pet_id = #{chatPetId} limit 100
    </select>

    <select id="sumTotalDividendMoneyByChatPetId" resultType="java.lang.Float">
        select IFNULL(sum(money),0) FROM e_dividend_detail_record WHERE chat_pet_id = #{chatPetId}
    </select>
</mapper>
