<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.monkeystudio.chatrbtw.mapper.MiniProgramMapper">
  <resultMap id="BaseResultMap" type="net.monkeystudio.chatrbtw.entity.MiniProgram">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
  </resultMap>

  <sql id="Base_Column_List">
    id, nickname ,app_id,head_img_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_wx_mini_program
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_wx_mini_program
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.MiniProgram">
    insert into e_wx_mini_program (
    id,
    app_id,
    nickname,
    head_img_url
    )
    values 
    	(#{id,jdbcType=INTEGER}, 
    	 #{nickname,jdbcType=VARCHAR},
         #{appId,jdbcType=VARCHAR}, 
         #{headImgUrl,jdbcType=VARCHAR}
         )
  </insert>
  <insert id="insertSelective" parameterType="net.monkeystudio.chatrbtw.entity.MiniProgram">
    insert into e_wx_mini_program
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="headImgUrl != null">
        head_img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null">
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="net.monkeystudio.chatrbtw.entity.MiniProgram">
    update e_wx_mini_program
    set
      nickname = #{nickname,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      head_img_url = #{headImgUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByAppId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from e_wx_mini_program
        where app_id = #{appId}
  </select>





</mapper>