<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.monkeystudio.chatrbtw.mapper.PetLogMapper" >
  <resultMap id="BaseResultMap" type="net.monkeystudio.chatrbtw.entity.PetLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="chat_pet_id" property="chatPetId" jdbcType="INTEGER" />
    <result column="wx_pub_origin_id" property="wxPubOriginId" jdbcType="VARCHAR" />
    <result column="wx_fan_open_id" property="wxFanOpenId" jdbcType="VARCHAR" />
    <result column="task_code" property="taskCode" jdbcType="INTEGER" />
    <result column="reward_type" property="rewardType" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="net.monkeystudio.chatrbtw.entity.PetLog" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, chat_pet_id, wx_pub_origin_id, wx_fan_open_id,task_code,reward_type
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from e_pet_log
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.PetLog" >
    insert into e_pet_log (id, create_time,
      chat_pet_id, wx_pub_origin_id, wx_fan_open_id, 
      content,task_code,reward_type)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{chatPetId,jdbcType=INTEGER}, #{wxPubOriginId,jdbcType=VARCHAR}, #{wxFanOpenId,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{taskCode},#{rewardType})
  </insert>
  <insert id="insertSelective" parameterType="net.monkeystudio.chatrbtw.entity.PetLog" >
    insert into e_pet_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="chatPetId != null" >
        chat_pet_id,
      </if>
      <if test="wxPubOriginId != null" >
        wx_pub_origin_id,
      </if>
      <if test="wxFanOpenId != null" >
        wx_fan_open_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="taskCode != null" >
        task_code,
      </if>
      <if test="reward_type != null" >
        reward_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chatPetId != null" >
        #{chatPetId,jdbcType=INTEGER},
      </if>
      <if test="wxPubOriginId != null" >
        #{wxPubOriginId,jdbcType=VARCHAR},
      </if>
      <if test="wxFanOpenId != null" >
        #{wxFanOpenId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="taskCode != null" >
        #{taskCode,jdbcType=INTEGER},
      </if>
      <if test="rewardType != null" >
        #{rewardType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <select id="selectDailyPetLog" resultMap="ResultMapWithBLOBs">
    SELECT <include refid="Base_Column_List"/>,<include refid="Blob_Column_List"/>FROM  e_pet_log
    WHERE chat_pet_id = #{chatPetId}
    AND create_time &gt;= #{beginTime} AND  create_time &lt;= #{endTime} ORDER BY create_time DESC
  </select>

  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">

    insert into e_pet_log (create_time, chat_pet_id, wx_pub_origin_id, wx_fan_open_id,task_code,reward_type,content)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.createTime}, #{item.chatPetId},#{item.wxPubOriginId},#{item.wxFanOpenId},#{item.taskCode},#{item.rewardType},#{item.content})
    </foreach>
  </insert>


</mapper>