<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.monkeystudio.chatrbtw.mapper.RWxPubChatPetBackgroundMapper" >
  <resultMap id="BaseResultMap" type="net.monkeystudio.chatrbtw.entity.RWxPubChatPetBackground" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="wx_pub_origin_id" property="wxPubOriginId" jdbcType="VARCHAR" />
    <result column="chat_pet_background_id" property="chatPetBackgroundId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, wx_pub_origin_id, chat_pet_background_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from r_wx_pub_chat_pet_background
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.RWxPubChatPetBackground" >
    insert into r_wx_pub_chat_pet_background (id, wx_pub_origin_id, chat_pet_background_id
      )
    values (#{id,jdbcType=INTEGER}, #{wxPubOriginId,jdbcType=VARCHAR}, #{chatPetBackgroundId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="net.monkeystudio.chatrbtw.entity.RWxPubChatPetBackground" >
    update r_wx_pub_chat_pet_background
    set wx_pub_origin_id = #{wxPubOriginId,jdbcType=VARCHAR},
      chat_pet_background_id = #{chatPetBackgroundId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByWxPubOriginId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> FROM r_wx_pub_chat_pet_background WHERE wx_pub_origin_id = #{wxPubOriginId}
  </select>
</mapper>