<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="net.monkeystudio.chatrbtw.mapper.UserIdempotentMapper">
    <resultMap id="baseResultMap" type="net.monkeystudio.chatrbtw.entity.UserIdempotent">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="wx_fan_id" property="wxFanId" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List" >
        `id`, `state`,`wx_fan_id` , `create_time`
    </sql>

    <update id="updateState" >
        update e_user_idempotent set
            state = #{state}
                     WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.UserIdempotent" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            e_user_idempotent (`state`, `wx_fan_id`,`create_time`)
        SELECT
            #{state} , #{wxFanId} , #{createTime}
        FROM DUAL WHERE NOT EXISTS  (
            SELECT
                `state`, `wx_fan_id`,`create_time`
            FROM
                e_user_idempotent
            WHERE
                `state` = #{state}
            AND
                `wx_fan_id` = #{wxFanId}
        )
    </insert>
    
    <select id="selectByPrimaryKey" resultMap="baseResultMap">
        select <include refid="Base_Column_List"/> from e_user_idempotent where id = #{id} for update
    </select>

    <update id="updateByPrimaryKey">
        update e_user_idempotent set state = 3 where id = #{id}
    </update>


</mapper>
