<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="net.monkeystudio.chatrbtw.mapper.WxFanMapper">
    <resultMap id="baseResultMap" type="net.monkeystudio.chatrbtw.entity.WxFan">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="union_id" property="unionId" jdbcType="VARCHAR" />
        <result column="subscribe_time" property="subscribeTime" jdbcType="INTEGER" />
        <result column="wx_pub_origin_id" property="wxPubOriginId" jdbcType="VARCHAR" />
        <result column="wx_fan_open_id" property="wxFanOpenId" jdbcType="VARCHAR" />
        <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
        <result column="wx_mini_program_id" property="wxMiniProgramId" jdbcType="INTEGER" />
        <result column="wx_service_type" property="wxServiceType" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, nickname, sex, city, country, province, union_id, subscribe_time, wx_pub_origin_id ,wx_fan_open_id,create_at,head_img_url,wx_mini_program_id,wx_service_type
    </sql>

    <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.WxFan" keyProperty="id" useGeneratedKeys="true" >
        insert into e_wx_fan (id, nickname, sex, city, country, province, union_id, subscribe_time, wx_pub_origin_id ,wx_fan_open_id,create_at,head_img_url,wx_mini_program_id,wx_service_type)
            values (
              #{id,jdbcType=INTEGER},
              #{nickname,jdbcType=VARCHAR},
              #{sex,jdbcType=INTEGER},
              #{city,jdbcType=VARCHAR},
              #{country,jdbcType=VARCHAR},
              #{province,jdbcType=VARCHAR},
              #{unionId,jdbcType=VARCHAR},
              #{subscribeTime,jdbcType=INTEGER},
              #{wxPubOriginId,jdbcType=VARCHAR},
              #{wxFanOpenId,jdbcType=VARCHAR},
              #{createAt,jdbcType=INTEGER},
              #{headImgUrl,jdbcType=VARCHAR},
              #{wxMiniProgramId,jdbcType=INTEGER},
              #{wxServiceType,jdbcType=INTEGER}
            )
    </insert>

    <select id="select" parameterType="map" resultMap="baseResultMap">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
            e_wx_fan
        <where>
            <if test="wxPubOriginId != null">
                wx_pub_origin_id = #{wxPubOriginId}
            </if>
            <if test="wxFanOpenId != null">
                and wx_fan_open_id = #{wxFanOpenId}
            </if>
            <if test="wxMiniProgramId != null">
                and wx_mini_program_id = #{wxMiniProgramId}
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="baseResultMap">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
            e_wx_fan
        WHERE
            id = #{id}
    </select>

    <update id="update" parameterType="net.monkeystudio.chatrbtw.entity.WxFan">
        update e_wx_fan set
            nickname = #{nickname},
            sex = #{sex},
            city = #{city},
            country = #{country},
            province = #{province},
            union_id = #{unionId},
            subscribe_time = #{subscribeTime},
            wx_pub_origin_id = #{ wxPubOriginId},
            wx_fan_open_id = #{wxFanOpenId},
            head_img_url = #{headImgUrl},
            wx_mini_program_id = #{wxMiniProgramId},
            wx_service_type = #{wxServiceType}
        <where>
            <if test="wxPubOriginId != null">
                wx_pub_origin_id = #{wxPubOriginId}
            </if>
            <if test="wxFanOpenId != null">
                and wx_fan_open_id = #{wxFanOpenId}
            </if>
            <if test="wxMiniProgramId != null">
                and wx_mini_program_id = #{wxMiniProgramId}
            </if>
        </where>
    </update>


    <select id="selectListByWxPubOriginId" parameterType="java.lang.String" resultMap="baseResultMap">
        select
            <include refid="Base_Column_List"></include>
        from
            e_wx_fan
        where
            wx_pub_origin_id = #{wxPubOriginId}
    </select>


    <select id="selectByMiniProgramId" parameterType="java.lang.Integer" resultMap="baseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            e_wx_fan
        where
            wx_mini_program_id = #{miniProgramId}
    </select>

</mapper>
