<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.monkeystudio.chatrbtw.mapper.WxMiniGameMapper">
  <resultMap id="BaseResultMap" type="net.monkeystudio.chatrbtw.entity.WxMiniGame">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="qr_code_img_url" jdbcType="VARCHAR" property="qrCodeImgUrl" />
    <result column="need_sign" jdbcType="INTEGER" property="needSign" />
    <result column="open_type" jdbcType="INTEGER" property="openType" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="online_time" property="onlineTime" jdbcType="TIMESTAMP" />
    <result column="shelve_state" jdbcType="INTEGER" property="shelveState" />
  </resultMap>

  <sql id="Base_Column_List">
    id, nickname ,head_img_url ,qr_code_img_url,need_sign,open_type,create_time,online_time,shelve_state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_wx_mini_game
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_wx_mini_game
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.WxMiniGame">
    insert into e_wx_mini_game (
    id,
    nickname,
    head_img_url,
    qr_code_img_url,
    need_sign,
    open_type,
    create_time,
    online_time,
    shelve_state
    )
    values 
    	(#{id,jdbcType=INTEGER}, 
    	 #{nickname,jdbcType=VARCHAR},
         #{headImgUrl,jdbcType=VARCHAR},
         #{qrCodeImgUrl,jdbcType=VARCHAR},
         #{needSign},
         #{openType},
         #{createTime},
         #{onlineTime},
         #{shelveState}
         )
  </insert>
  <update id="updateByPrimaryKey" parameterType="net.monkeystudio.chatrbtw.entity.WxMiniGame">
    update e_wx_mini_game
    set
      nickname = #{nickname,jdbcType=VARCHAR},
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      qr_code_img_url = #{qrCodeImgUrl},
      need_sign = #{needSign},
      open_type = #{openType},
      create_time = #{createTime},
      online_time = #{onlineTime},
      shelve_state = #{shelveState}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM  e_wx_mini_game
  </select>
    
    <delete id="delete" >
        DELETE  FROM  e_wx_mini_game WHERE id = #{id}
    </delete>


</mapper>