<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.monkeystudio.chatrbtw.mapper.WxPubMaterialMapper">
  <resultMap id="BaseResultMap" type="net.monkeystudio.chatrbtw.entity.WxPubMaterial">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wx_pub_origin_id" jdbcType="VARCHAR" property="wxPubOriginId" />
    <result column="media_id" jdbcType="VARCHAR" property="mediaId" />
    <result column="material_update_time" jdbcType="BIGINT" property="materialUpdateTime" />
    <result column="content_update_time" jdbcType="BIGINT" property="contentUpdateTime" />
    <result column="content_create_time" jdbcType="BIGINT" property="contentCreateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, wx_pub_origin_id, media_id, material_update_time, content_update_time, content_create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_wx_pub_material
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOriginIdAndMediaId" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_wx_pub_material
    where wx_pub_origin_id = #{wxPubOriginId,jdbcType=VARCHAR}
    and media_id = #{mediaId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_wx_pub_material
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.monkeystudio.chatrbtw.entity.WxPubMaterial">
    insert into e_wx_pub_material (id, wx_pub_origin_id, media_id, 
      material_update_time, content_update_time, content_create_time
      )
    values (#{id,jdbcType=INTEGER}, #{wxPubOriginId,jdbcType=VARCHAR}, #{mediaId,jdbcType=VARCHAR}, 
      #{materialUpdateTime,jdbcType=BIGINT}, #{contentUpdateTime,jdbcType=BIGINT}, #{contentCreateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.monkeystudio.chatrbtw.entity.WxPubMaterial">
    insert into e_wx_pub_material
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="wxPubOriginId != null">
        wx_pub_origin_id,
      </if>
      <if test="mediaId != null">
        media_id,
      </if>
      <if test="materialUpdateTime != null">
        material_update_time,
      </if>
      <if test="contentUpdateTime != null">
        content_update_time,
      </if>
      <if test="contentCreateTime != null">
        content_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wxPubOriginId != null">
        #{wxPubOriginId,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null">
        #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="materialUpdateTime != null">
        #{materialUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="contentUpdateTime != null">
        #{contentUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="contentCreateTime != null">
        #{contentCreateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.monkeystudio.chatrbtw.entity.WxPubMaterial">
    update e_wx_pub_material
    <set>
      <if test="wxPubOriginId != null">
        wx_pub_origin_id = #{wxPubOriginId,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null">
        media_id = #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="materialUpdateTime != null">
        material_update_time = #{materialUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="contentUpdateTime != null">
        content_update_time = #{contentUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="contentCreateTime != null">
        content_create_time = #{contentCreateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.monkeystudio.chatrbtw.entity.WxPubMaterial">
    update e_wx_pub_material
    set wx_pub_origin_id = #{wxPubOriginId,jdbcType=VARCHAR},
      media_id = #{mediaId,jdbcType=VARCHAR},
      material_update_time = #{materialUpdateTime,jdbcType=BIGINT},
      content_update_time = #{contentUpdateTime,jdbcType=BIGINT},
      content_create_time = #{contentCreateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>