<link rel="stylesheet" href="${base}/res/css/data_count.css">
<div id="data_count" class="box">
    <div>
        <h3>昨日数据</h3>
        <div class="data-list">
            <div>
                <p>{{yesterdayNum}}</p>
                <span>昨日聊天总次数</span>
            </div>
            <div>
                <p>{{yesterdayMen}}</p>
                <span>昨日聊天总人数</span>
            </div>
        </div>
        <h3>趋势图</h3>
        <div class="chart-query">
            <span>时间:</span>
            <button :class="dateActive==1?'active':''" @click="intTime(1)">7日</button>
            <button :class="dateActive==2?'active':''" @click="intTime(2)">1月</button>
            <div>
                <input type="text" id="chat_time">
            </div>
        </div>
        <div class="chart-main">
            <div id="chart_num"></div>
        </div>
    </div>
</div>
<script src="${base}/res/js/data_count.js" type="text/javascript" charset="utf-8"></script>