.radio-wrap {
    color: #606266;
    font-weight: 500;
    line-height: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio-wrap input {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
}
.radio-btn {
    border: 1px solid #dcdfe6;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: bottom;
}
.radio-btn:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6);
}
.radio-wrap.active {
    color: #28a7fd;
}
.active .radio-btn {
    border: 1px solid #28a7fd;
}
.active .radio-btn:after {
    background: #28a7fd;
    transform: translate(-50%,-50%) scale(1);
}