<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KeenDo| 找回密码</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/ico" href="${base}/res/portal/images/favicon.ico">
    <link rel="stylesheet" href="${base}/res/portal/css/account.css"/>
    <script src="${base}/res/vendor/jquery-3.1.1.min.js"></script>
    <script src="${base}/res/vendor/vue.js"></script>
    <script src="${base}/res/js/config.js"></script>
</head>
<body>
<div id="center">
    <div class="logo">
        <a href="${base}/index.html"><img src="${base}/res/portal/images/logo_blue.png" alt="金豆传媒"></a>
        <span>已有账号，<a href="/login.html">马上登录</a></span>
    </div>
    <div class="content">
        <div class="title">
            账号安全
        </div>
        <div>
            <div class="find">
                <div class="message">
                    找回密码
                </div>
                <div>
                    <input type="text" placeholder="邮箱" id="email" v-model="email">
                </div>
                <div class="code-box" v-if="show">
                    <input type="text" placeholder="验证码" id="code" v-model="code">
                    <div title="点击换验证码" @click="requireCode">
                        <img id="codeImg">
                    </div>
                </div>
                <div>
                    <button @click="sendClick">下&nbsp;一&nbsp;步</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${base}/res/portal/js/find_password.js"></script>
</body>
</html>