<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KeenDo</title>
    <link rel="shortcut icon" type="image/ico" href="${base}/res/portal/images/favicon.ico">
    <link rel="stylesheet" href="${base}/res/portal/css/new_index.css"/>
    <script src="${base}/res/vendor/jquery-3.1.1.min.js" async="async"></script>
    <script src="${base}/res/vendor/vue.js" async="async"></script>
</head>
<body>
<div class="logo">
    <img src="${base}/res/portal/images/logo_bk.png">
</div>
<div class="login">
    <button>注册</button>
    <button>登录</button>
</div>
<div id="container">
    <div id="join">
        <canvas id="canvas"></canvas>
        <div class="earth">
            <img src="${base}/res/portal/images/earth.png">
            <div class="future">
                <img src="${base}/res/portal/images/future.png">
            </div>
            <div class="join-box">
                <img src="${base}/res/portal/images/text.png">
                <div id="login">
                    <div class="err_msg">
                        <img src="${base}/res/portal/images/err.png" alt="金豆传媒">
                        账号或密码错误，请重新输入
                    </div>
                    <div class="input-text">
                        <input type="text" placeholder="输入邮箱进行登录" id="username" v-model="email"/>
                        <span></span>
                    </div>
                    <div class="input-ps">
                        <input type="password" placeholder="密码" v-model="password"/>
                        <span></span>
                    </div>
                    <div class="remember-box">
                    <span :class="remember!=false?active:''">

                    </span>
                        <input type="checkbox" id="remember" v-model="remember"><label for="remember">记住密码</label>
                        <a href="${base}/find_password.html">忘记密码</a>
                    </div>
                    <div>
                        <button class="login" @click="loginClick">登&nbsp;&nbsp;录</button>
                        <button class="register" @click="registerClick">注&nbsp;&nbsp;册</button>
                    </div>
                </div>
                <div id="register">
                    <div class="err_msg">
                        <img src="${base}/res/portal/images/err.png" alt="金豆传媒">
                        <span>{{msg}}</span>
                    </div>
                    <div class="input-text">
                        <input type="text" placeholder="昵称" id="nickname" v-model="nickname"
                               v-on:blur="blur('nickname',nickname,regNick)"/>
                        <span></span>
                        <div class="tip">
                            <div>
                                昵称不能包含特殊字符，建议使用公司名
                            </div>
                        </div>
                        <b>

                        </b>
                    </div>
                    <div class="input-text">
                        <input type="text" placeholder="输入邮箱进行注册" id="user_email" v-model="email"
                               v-on:blur="blur('user_email',email,regEmail)"/>
                        <span></span>
                        <div class="tip">
                            <div>
                                请输入正确的邮箱格式
                            </div>
                        </div>
                        <b>

                        </b>
                    </div>
                    <div class="input-ps">
                        <input type="password" placeholder="设置密码" id="password" v-model="password"
                               @blur="blur('password',password,regPassword)"/>
                        <span></span>
                        <div class="tip">
                            <div>
                                6~16位字符，必须包含英文字母、数字
                            </div>
                        </div>
                        <b></b>
                    </div>
                    <div class="input-ps">
                        <input type="password" placeholder="确认密码" id="password_clone" v-model="passwordCopy"
                               @blur="copyReg('password_clone')"/>
                        <span></span>
                        <div class="tip">
                            <div>
                                请输入与上面相同的密码
                            </div>
                        </div>
                        <b></b>
                    </div>
                    <div>
                        <input type="text" placeholder="验证码" id="code" v-model="code">
                        <div title="点击换验证码" @click="requireCode">
                            <img id="codeImg">
                        </div>
                        <div class="tip">
                            <div>
                                请输入右边的验证码，若看不清楚请点击更换验证码
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="register" @click="registerClick">注&nbsp;&nbsp;册</button>
                    </div>
                    <div>
                        <a @click="loginClick">
                            已有账号？登录
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ask_search">
        <div class="text">
            <h2>问问搜</h2>
            <p>独创号内提问检索功能，用户可通过向公众号</p>
            <p>提问高效查找历史文章</p>
            <p>同类文章经过智能归纳，随目标文章一同推送</p>
            <p>即时激活长尾流量，数据优化看得见</p>
        </div>
        <div id="img_box">
            <img src="${base}/res/portal/images/circle.svg" class="circle">
            <img src="${base}/res/portal/images/phone.png" class="phone">
            <img src="${base}/res/portal/images/err_ask.png" class="err">
            <img src="${base}/res/portal/images/triangle.png" class="triangle">
        </div>
    </div>
</div>
<ul id="pages">
    <li class="active">01</li>
    <li>02</li>
</ul>
<footer>
    <a href="http://www.miibeian.gov.cn/">许可证号：粤ICP备17103036号&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2017 - 2018 Keendo&nbsp;&nbsp;&nbsp;&nbsp;All
        Rights Reserved</a>
</footer>
<script src="${base}/res/js/config.js" async="async"></script>
<script src="${base}/res/portal/js/new_index.js"></script>
</body>
</html>