<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>喵小咪星球</title>
    <meta content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no"
          name="viewport">
    <script>
        (function () {
            var html = document.documentElement;
            var hWidth = html.getBoundingClientRect().width;
            if (hWidth > 750) {
                hWidth = 750
            }
            html.style.fontSize = hWidth / 15 + "px";
        })()
    </script>
    <link rel="stylesheet" href="css/zebra.css">
</head>
<body id="app" v-cloak>
<header>
    <div class="user-msg">
        <img v-if="userInfo.headImg" :src="userInfo.headImg" alt="avatar">
        <div>
            <div class="user-name">{{userInfo.nickname}}</div>
            <div class="user-token">
                {{list.fanTotalCoin}}
            </div>
        </div>
    </div>
    <div class="share-target" @click="shareShow($event)">
        生成邀请卡
    </div>
</header>
<section>
    <div id="user_zebra">
        <div class="zebra-bg">
            <img v-if="list.appearanceUrl" :src="list.appearanceUrl" alt="cat">
        </div>
        <div class="user-code" v-if="userCodeShow">
            <div>
                <span>主人 ID:</span>{{list.ownerId}}
            </div>
            <div>
                <span>Genetic Code:</span>{{list.geneticCode}}
            </div>
        </div>
        <i @click="userCodeShow = !userCodeShow"></i>
    </div>
</section>
<section>
    <div id="rule">
        <div class="tittle">喵小咪星球规则</div>
        <div>
            <div class="text">
                喵小咪星球是一款基于分布式存储技术的数字宠物
                模拟游戏，由 Keendo AI 团队研发。星球中的数字
                宠物是外观各异的喵小咪，他们的等级代表算力。
                喵小咪产出的金币未来可以按照一定兑换比例兑换
                成数字资产、商品及服务。
            </div>
            <div class="gold">
                <div>
                    <img src="images/token.png">
                    什么是猫爪金币？
                </div>
                <ul>
                    <li>猫爪金币可以充当游戏中的积分</li>
                    <li>猫爪金币主要产生于喵小咪的聊天互动，及聊天中随机触发的任务</li>
                    <li>释放猫爪金币总量有限，随时间推移，获取难度逐步变大</li>
                    <li>猫爪金币每隔24小时分配一次</li>
                </ul>
            </div>
            <div class="cat">
                <div>
                    <img src="images/cat.png">
                    什么是虚拟宠物喵小咪？
                </div>
                <ul>
                    <li>每一只喵小咪都是星球游戏中独一无二的虚拟数字宠物</li>
                    <li>喵小咪的等级代表算力，等级越高，每日获取的猫爪金币越多</li>
                    <li>喵小咪未来将逐步推出出售、转让、孵化等功能</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="log">
        <div class="tittle">宠物日志</div>
        <div>
            <div class="log-date" v-if="logs.length !== 0">
                {{logs[0].createTime | formatDate}}
            </div>
            <div class="nodata" v-if="logs.length == 0">
                <img src="images/nodata.svg" alt="no-data">
                <p>没有消息</p>
            </div>
            <ul>
                <li v-for="item in logs">
                    {{item.content}}
                    <em v-if="item.coin">＋{{item.coin}}</em>
                    <span>{{item.createTime | formatTime}}</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer>
    <p>喵小咪星球持续建设中</p>
    <p>敬请期待</p>
</footer>
<div v-cloak id="share" v-if="share" @click="shareShow($event)">
    <div :style="{'background-color': '#' + bgColor}" id="canvas_img">
        <div>
            <div class="zebra">
                <div class="wx-img">
                    <img :src="userInfo.headImg" alt="avatar">
                </div>
                <span>
                {{userInfo.nickname}}的喵小咪
                </span>
                <div class="zebra-msg">
                    <img :src="list.appearanceUrl" alt="cat">
                </div>
                <div class="bg-right bg" :style="{'background-color': '#' + bgColor}"></div>
                <div class="bg-left bg" :style="{'background-color': '#' + bgColor}"></div>
            </div>
            <div class="code-box">
                <div>
                    <div class="code">
                        <img :src="twoImg" alt="QRcode" class="two">
                        <img src="images/demo_2.png" alt="背景" class="two-bg">
                    </div>
                </div>
                <div class="hint">
                    长按识别二维码<br/>
                    领取专属喵小咪
                </div>
                <div class="tip">
                    数量有限 <br/>请把名额留给热爱互联网，关注科技的小伙伴们
                </div>
            </div>
        </div>
    </div>
    <p>长按图片保存或转发</p>
</div>
<script src="../vendor/vue.js" async></script>
<script src="js/html2canvas.min.js" async></script>
<script src="js/zebra.js" async></script>
</body>
</html>