#data_count{
    background-color: #fff;
    min-width: 932px;
    padding: 10px;
}
.data-list{
    border: 1px solid #e2e2e2;
    padding: 20px 0;
}
.data-list:after{
    content:'';
    display: block;
    clear: both;
}
.data-list>div{
    width: 50%;
    text-align: center;
}
.data-list>div p{
    font-size: 30px;
}
.data-list>div:first-child{
    float: left;
}
.data-list>div:last-child{
    float: right;
    border-left: 1px solid #e2e2e2;
}
.chart-query{
    background-color:#eff6fb;
    font-size: 12px;
    padding: 6px 15px;
}
.chart-query>span{
    padding:8px 0;
    margin-right: 41px;
}
.chart-query>button{
    width: 60px;
    background: transparent;
    border: none;
    padding: 5px;
    margin-right: 11px;
    font-size: 12px;
    border-radius: 3px;
}
.chart-query>.active{
    background-color: #8eb2c7;
    color: #fff;
}
.chart-query>div{
    display: inline-block;
    position: relative;
}
.chart-query input{
    width: 170px;
    padding: 5px 6px;
    font-size: 14px;
    margin-left: 8px;
    border-radius: 3px;
    text-align: center;
    border: none;
}
#chart_num{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    height: 450px;
    padding: 10px 5px;
    padding-bottom: 30px;
    overflow-x: auto;
    overflow-y: hidden;
}